@charset "UTF-8";

.severity0 {
    opacity: 1;
    order: 1;
}
.severity5 {
    opacity: 0.7;
    order: 2;
}
.severity10 {
    opacity: 0.5;
    order: 3;
}

.flex {
    display:flex;
    flex-flow: column;
  }

#user_input_area {
    width: 100%;
    height: 300px;
}

#author {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    background-color: darkgrey;
    padding-left: 5px;
    padding-right: 5px;
}

#author a {
    color: white;
    text-decoration: none;
}

q {
    color: dimgrey;
}
q:before {
    content: '\201C';
}
q:after {
    content: '\201D';
}

.container a:not(.btn) {
    color: inherit;
    border-bottom: 2px cadetblue dotted;
    text-decoration: inherit;
}

.container a:hover:not(.btn) {
    color: inherit;
    border-bottom: 2px cadetblue dotted;
    text-decoration: inherit;
    background-color: darkgrey;
}

div.social-share {
    position: absolute;
    vertical-align: top;
    top: 0;
    right: 0;
    border: 0;
}

.social-share .ribbon-container {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 140px;
    height: 140px;
}

.social-share .ribbon {
    width: 200px;
    text-align: center;
    position: absolute;
    background: gray;
    border-top: black dashed 2px;
    border-bottom: black dashed 2px;
    color: whitesmoke;
    top: 45px;
    right: -45px;
    z-index: 10000;
    transform: rotate(45deg);
}

.social-share .ribbon a {
    text-decoration: none;
    color: whitesmoke;
}

.cursor-pointer {
    cursor: pointer;
}